body{
    background-color: #efe;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.header-dark{
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  height: 50px;
}

.align-right {
  display: flex;
  justify-content: flex-end;
}

.align-right button{
  margin-right: 2px;
  margin-top: 10px;
  top: 50%;
  -ms-transform: translateY(-12%);
  transform: translateY(-12%);
}

.cover{
  background: url(mid-header.jpg);
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu{
  height: 60px;
}

.form-label{
  display: block;
  font-size: 40px;
  font-family: 'Shizuru', cursive;
  text-align: center;
  font-weight: bolder;
}

.container-fluid.cards{
  padding-left: 50px;
  padding-right: 50px;
}

.card{
  margin: 5px;
}

.card-title{
  white-space: pre;
  font-size: 25px;
  font-family: 'Shizuru', cursive;
  text-align: center;
  font-weight: bold;
}

.card-text{
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-size: medium;
}

.preço{
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}

.footer-dark{
  color: #efe;
  background-color: #485461;
  background-image: linear-gradient(315deg, #515355 0%, #24282c 74%);
  font-size: 11.5px;
  font-weight: bold;
  text-align: center;
  height: 50px;
  margin-top: 50px;
  width: 100%;
  height: 100%;
}

.modal-title{
  text-align: center;
  font-family: 'Shizuru', cursive;
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

.modal-body{
  margin: 0 auto;
}

.card-img-top{
  cursor: pointer;
}

.panel-title{
  color: #efe;
  background-color: #485461;
  background-image: linear-gradient(315deg, #515355 0%, #24282c 74%);
  height: 40px;
}

.panel-title h5{
  font-family: 'PT Sans', sans-serif;
  text-indent: 25px;
  line-height: 40px;
  vertical-align: middle;
}

#arrow-btn{
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  right: 0;
  transition: 300ms;
  text-indent: 25px;
  line-height: 40px;
  vertical-align: middle;
}

.rotate{
  transform: rotateX(-180deg);
  transition: 300ms;
}

.form-group{
  margin: 10px;
}

.form-check{
  margin: 10px;
}

.form-check-label{
  margin-right: 10px;
}


@media only screen and (max-width: 600px){

  img{
    width: 300px;
  }
}